<h3><u>Administration Portal</u></h3>
<form>
  <label>Password (hint: admin. All lowercase): </label>
  <input #inputPassword>
  <button (click)="signIn(inputPassword.value); inputPassword.value='';" class="btn btn-primary">Sign in</button>
</form>

<div *ngIf= "password">
  <h3>Welcome Stella!</h3>
  <button class="btn btn-primary"(click)="signOut()">Sign Out</button>

  <br>
  <br>
  <app-home></app-home>
  <h3 class="clickable" (click)="showAddForm()"><u>Add a new member</u></h3>
  <div *ngIf="addForm" class="col-sm-4">
    <label>Name</label>
    <input type="text" #name class="form-control">
    <label>Email address</label>
    <input type="text" #email class="form-control">
    <label>Role in the club</label>
    <select (change)="selectNewRole($event.target.value)" class="form-control">
      <option value="">Select</option>
      <option value="Snack supplier">Snack supplier</option>
      <option value="Film critic">Film critic</option>
    </select>
    <br>
    <button class="btn btn-success"(click)="submitMember(name.value, email.value); name.value=''; email.value='';">Create member</button>

  </div>

</div>

<div *ngIf= "wrongPassword">
  <h3>Incorrect password. Please try again.</h3>
</div>
