<h3>{{memberToDisplay?.name}}'s profile</h3>
<h4>Where to contact {{memberToDisplay?.name}}: {{memberToDisplay?.email}}</h4>
<h4>{{memberToDisplay?.name}}'s role: {{memberToDisplay?.role}}
</h4>

<hr>
<div *ngIf="formShow">
  <h3>Edit {{memberToDisplay?.name}}'s information</h3>
  <label>New Name</label>
  <br>
  <input [(ngModel)]= "memberToDisplay.name">
  <br>
  <label>New email</label>
  <br>
  <input [(ngModel)]= "memberToDisplay.email">
  <br>
  <label>New role</label>
  <br>
  <select [(ngModel)]="memberToDisplay.role">
    <option value="">select</option>
    <option value="President">President</option>
    <option value="Film critic">Film critic</option>
    <option value="Snack supplier">Snack supplier</option>
  </select>
</div>

<div *ngIf="password">
  <button class='btn btn-info' (click)="toggleButton()">
  <span *ngIf="!formShow">Edit this info</span>
  <span *ngIf="formShow" (click)="updateMember(memberToDisplay)">Update</span>
</button>
</div>
